<html>
    <head>
        <script src="../../vue.js"></script>
        <script src="skip.js"></script>
        <link rel="stylesheet" href="skip.css">
    </head>
    <body>
        <div id="skip-container">
            <button v-on:click="togglePause">{{startButtonLabel}}</button>
            <h3>{{exerciseLabel}}</h3>
            <p>{{countdownLabel}}</p>
            <div v-if="routineStarted">
                <p>{{nextExerciseLabel}}</p>
                
                <button v-if="isPaused" v-on:click="restartExercise">Restart Exercise</button>

                <div class="progress-bar">
                    <div class="progress" :style=progressBarStyle></div>
                </div>
            </div>
            <div v-if="showDevPanel">
                <p class="exercises">
                    {{routine}}
                </p>
            </div>
            <button v-on:click="toggleDevPanel">Toggle Dev Panel</button>
        </div>
    </body>
</html>